.filter{
  position: fixed;
  margin-top: 5px;
  margin-bottom: 0
}
.nameInput{
  margin: 0 200px;
  position: relative;

}

.container{
  position: sticky;
}
.userInput{
  max-height: 100%;
  position: sticky;
  padding-top: 80px;
  
}
.fetcher{
  float: left;
  margin: 0 0
}


h1{
  color: floralwhite;
  margin:0 30%;
  font-size: 70px;
  width: 600px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 100px
  
}
.group{
  height: 100%;
  background-attachment: fixed;
}
.paw {
  height: 20%;
  margin-left: 35%;
}
.displayNames{
  color: floralwhite;
  border: solid 5px white;
  width: 400px;
  margin: 5px;
  background: rgba(90, 90, 90, 0.521);
  margin: 0 35%;
}
.options{
  float: right;
  
}